$red: rgba(230, 57, 70, 1);
$blue: rgba(29, 53, 87, 1);
$cream: rgba(241, 250, 238, 1);
$lgreen: rgba(175, 234, 126, 1);
$dgreen: rgba(66, 201, 111, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255,255,255,1);
